<h2> Log in: </h2>
<%= flash[:message] %>


<%= form_tag sessions_path do %> 
  <%= label_tag "Name" %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag "Password" %>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Log in" %>
<% end %>
<br>
<%= link_to "Create a New Account", new_user_path %>