<h2> Sign Up: </h2>

<% if @user.errors %>
  <% @user.errors.full_messages.each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end%>
<% end %>
<div class=field_with_errors>
<%= form_for @user  do |f| %>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password, "Password: "%>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation, "Password Confirmation: " %>
  <%= f.password_field :password_confirmation %>
  <br>
  <div class="button">
    <a><%= f.submit %></a>
    </div>
<% end %>
</div>
