<h2> Here are your Rentals </h2>
<% if @user.next_destinations != "" %>
<p> Be sure to visit these destinations during your next trip in <%= @user.next_city %> </p>
<p><%= @user.next_destinations %> </p>
<% end %>
<br>
<br>  
<% @user.ordered_rentals.each do |rental| %> 
  Rented for: <%= link_to rental.rental_start.strftime("%m/%d/%Y"), rental_path(rental), class: "link-to-text" %> 
  to <%= rental.airport.city.name %>, Status: <%= rental.rental_status %> <%=link_to "Invoice", invoice_path(rental), class: "link-to-text"%>  <br>
<% end %>

<br>
<br>
  <% if Rental.count > 3 %>
    <h4>Our most popular destinations</h4>
      <% Rental.top_3_dest.each do |dest| %>
        <%= dest %> <br>
  <% end %>
<%end%>


<% if Rental.count > 3 %>
    <h4>Our most popular planes</h4>
    <% Rental.top_3_plane.each do |plane| %>
      <%= plane %> <br>
  <% end %>
<%end%>

<br>
<br>
<p>Our top rated plane today: <%= Rental.top_rated_plane %> </p>
<p>Try our newest jet next time: <%= Plane.newest_plane[0].model %></p>
<p>If you prefer more a more affordable model: <%= Plane.most_affordable[0].model %></p>

