<h3> Hi, <%= @user.name %>. </h3>
<h2> Here are your Rentals: </h2>

<% @user.rentals.each do |rental| %> 
  <li> Rented at: <%= link_to rental.created_at.strftime("%m/%d/%Y %T"), rental_path(rental) %> 
  to <%= rental.airport.city.name %>, Status: <%= rental.rental_status %>
  <%= link_to "Invoice", invoice_path(rental) %>
  </li> 
<% end %>
