<h2> Edit Rental </h2>
<% flash.each do |name, msg| %>
  <div class="custom-alert">
    <%= msg %>
  </div>
<% end %>
<% if @rental.errors %>
  <% @rental.errors.full_messages.each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end%>
<% end %>

<%= form_for @rental do |f| %>
  <%= f.label :plane_id %>
  <div class="dropdown-select"><%= f.collection_select :plane_id, @planes, :id, :model %></div>
  <br>
  <%= f.label :airport_id %>
  <div class="dropdown-select"><%= f.collection_select :airport_id, @airports, :id, :airport_city %></div>
  <br>
  <%= f.label :rental_start %>
  <div class="dropdown-select"><%= f.date_field :rental_start %></div>
  <br>
  <%= f.label :rental_end %>
  <div class="dropdown-select"><%= f.date_field :rental_end %></div>
  <br>
  <div class="button">
    <a><%= f.submit %></a>
  </div>
<% end %>