<h2> Edit Rental </h2>

<% if @rental.errors %>
  <% @rental.errors.full_messages.each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end%>
<% end %>

<%= form_for @rental do |f| %>
  <%= f.label :plane_id %>
  <%= f.collection_select :plane_id, @planes, :id, :model %>
  <br>
  <%= f.label :airport_id %>
  <%= f.collection_select :airport_id, @airports, :id, :airport_city %>
  <br>
  <%= f.label :rental_start %>
  <%= f.date_field :rental_start %>
  <br>
  <%= f.label :rental_end %>
  <%= f.date_field :rental_end %>
  <br>
  <%= f.submit %>
<% end %>