<h2> Book a Rental </h2>
<% flash.each do |name, msg| %>
  <div class="custom-alert">
    <%= msg %>
  </div>
<% end %>
<% if @rental.errors %>
  <% @rental.errors.full_messages.each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end%>
<% end %>

<div class="field_with_errors">
<%= form_for @rental do |f| %>
  <div class="dropdown-select">
  <%= f.label :plane_id %>
  <%= f.collection_select :plane_id, @planes, :id, :model %>
  </div>
  <br>
  <div class="dropdown-select">
  <%= f.label :airport_id %>
  <%= f.collection_select :airport_id, @airports, :id, :airport_city %>
  </div>
  <br>
  <div class="dropdown-select">
  <%= f.label :rental_start %>
  <%= f.date_field :rental_start %>
  </div>
  <br>
  <div class="dropdown-select">
  <%= f.label :rental_end %>
  <%= f.date_field :rental_end %>
  </div>
  <br>
  <div class="button">
    <a><%= f.submit %></a>
  </div>
<% end %>
</div>
