<h2> Rental Details </h2>

<%= flash[:message] %>

<p>Plane: <%= @rental.plane.model %> </p>
<p>City: <%= @rental.airport.city.name %> </p>
<p>Airport: <%= @rental.airport.name %> </p>
<p>Rental Start: <%= @rental.rental_start.strftime("%m/%d/%Y") %> </p>
<p>Rental End: <%= @rental.rental_end.strftime("%m/%d/%Y") %> </p>
<p>Rental Duration: <%= @rental.rental_period %> </p>
<br>
<% if @rental.rental_status == "Active" %>
    <%= button_to "Return Plane", return_path(@rental), class: "link-to-text" %>
<% end %>
<%= link_to "Edit", edit_rental_path(@rental), class: "link-to-text" %>
<br>
<%= link_to "Delete", "/rentals/#{@rental.id}", method: :delete, class: "link-to-text" %>
<br>
<%= link_to "Back", user_path(@user), class: "link-to-text" %>
