<h2> Rental Details </h2>

<% flash.each do |name, msg| %>
    <div class="custom-alert">
      <%= msg %>
    </div>
  <% end %>

<p>Plane: <%= @rental.plane.model %> </p>
<p>City: <%= @rental.airport.city.name %> </p>
<p>Airport: <%= @rental.airport.name %> </p>
<p>Rental Start: <%= @rental.rental_start.strftime("%m/%d/%Y") %> </p>
<p>Rental End: <%= @rental.rental_end.strftime("%m/%d/%Y") %> </p>
<p>Rental Duration: <%= @rental.rental_period %> </p>

<br>

<% if @rental.rental_status == "Active" %>
    <div class="button">
        <a><%= button_to "Return Plane", return_path(@rental) %></a>
    </div>
<% end %>


<% if @rental.rental_status == "Returned" %>
    <%= form_for(@rental, url: rating_path) do |f| %>
    <%= f.label "Plane Rating" %> <br>
    1<%= f.range_field :plane_rating, :in=> 1..10, :step => 1 %>10 <br>
    <div class="button">
        <a><%= f.submit "Rate This Plane" %> <br></a>
    </div>
    <% end %>
<% end %>

<br>

<%= link_to "Edit", edit_rental_path(@rental), class: "link-to-text" %>

<br>
<%= link_to "Delete", "/rentals/#{@rental.id}", method: :delete, class: "link-to-text" %>
<br>
<%= link_to "Back", user_path(@user), class: "link-to-text" %>
