<!DOCTYPE html>
<html>
  <head>
    <title>JetWeGo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <img src="https://i.imgur.com/SrT2mBr.png" alt="Italian Trulli">
    <br>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
      <%= link_to "Log Out", logout_path, method: "delete" %>
      <%= link_to current_user.name, user_path(current_user) %>
      <%= link_to "Available Planes", planes_path %>
      <%= link_to "Book a Rental", new_rental_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
